// You can define as many modes as you want, but more than one might be hard to read
// Comment out the ones not used

#ifndef SHART_DEBUG_CONFIG
#define SHART_DEBUG_CONFIG

//#define DEBUG_MODE_ERROR
//#define DEBUG_MODE_DATARATE
//#define DEBUG_MODE_STATUS
#define DEBUG_MODE_SENSOR_DATA
//#define DEBUG_MODE_GPS_DATA
//#define DEBUG_MODE_BINARY

#endif